<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGHBsJji6I3uRcaC7SC2rfPOYN9az31TA</string>
	<key>GCM_SENDER_ID</key>
	<string>780076179146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frigo</string>
	<key>PROJECT_ID</key>
	<string>frigo-d8a8a</string>
	<key>STORAGE_BUCKET</key>
	<string>frigo-d8a8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780076179146:ios:2501dd04afee8cf1fb9e33</string>
</dict>
</plist>